root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.sql]
indent_size = 2

# 마크다운 줄 끝 공백 2개는 <br> 의미를 가지므로 제거하지 않음
[*.md]
trim_trailing_whitespace = false
